@page
@model ServiceHosts.Pages.ChatPageModel
@{
    ViewData["Title"] = "Social Network";
}
@section Styles
{

}

<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2>@Model.UserInfo.Name @Model.UserInfo.LastName</h2>
                <div class="profile-status" style="display: none">
                    <i class="fa fa-check-circle"></i> Online
                </div>
                <img src="~/Images/DefaultProfile.png"
                     alt=""
                     class="profile-img img-responsive center-block" />
                <div class="profile-label" style="display: none">
                    <span class="label label-danger">Admin</span>
                </div>

                <div class="profile-stars" style="display: none">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Super User</span>
                </div>

                <div class="profile-since">Member since: Jan 2012</div>

                <div class="profile-details">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-truck"></i>Orders: <span>456</span>
                        </li>
                        <li>
                            <i class="fa-li fa fa-comment"></i>Posts: <span>828</span>
                        </li>
                        <li>
                            <i class="fa-li fa fa-tasks"></i>Tasks done: <span>1024</span>
                        </li>
                    </ul>
                </div>

                <div class="profile-message-btn center-block text-center" style="display: none">
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Send message
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>User info</span></h3>
                    <a href="#" class="btn btn-primary edit-profile">
                        <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                    </a>
                </div>

                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        <input type="hidden" id="UserId" value="@Model.UserInfo.Id"/>
                        <input type="hidden" id="UserName" value="@Model.UserInfo.Email"/>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">Name</div>
                            <div class="profile-user-details-value">@Model.UserInfo.Name</div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">Last Name</div>
                            <div class="profile-user-details-value">@Model.UserInfo.LastName</div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">About Me</div>
                            <div class="profile-user-details-value">
                                @Model.UserInfo.AboutMe
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">Email/FullName</div>
                            <div class="profile-user-details-value">
                                @Model.UserInfo.Email
                            </div>
                        </div>
                        <div class="profile-user-details clearfix" style="display: none;">
                            <div class="profile-user-details-label">Phone number</div>
                            <div class="profile-user-details-value">
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 profile-social" style="display: none">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-twitter-square"></i><a href="#">scjohansson</a>
                            </li>
                            <li>
                                <i class="fa-li fa fa-linkedin-square"></i><a href="#">John Doe </a>
                            </li>
                            <li>
                                <i class="fa-li fa fa-facebook-square"></i><a href="#">John Doe </a>
                            </li>
                            <li>
                                <i class="fa-li fa fa-skype"></i><a href="#">Black_widow</a>
                            </li>
                            <li>
                                <i class="fa-li fa fa-instagram"></i><a href="#">Avenger_Scarlett</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-activity" data-toggle="tab">User Relation Requests</a>
                        </li>
                        <li><a href="#tab-friends" data-toggle="tab">Friends</a></li>
                        <li><a href="#tab-chat" data-toggle="tab">Chat</a></li>
                    </ul>

                    <div class="tab-content">
                        @*//Start Tab AllUsers*@
                        <div class="tab-pane fade in active" id="tab-activity">
                            <div  class="table-responsive">
                                <table id="TableAllUsers" class="table">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-comment"></i>
                                            </td>
                                            <td>
                                                John Doe posted a comment in
                                                <a href="#">Avengers Initiative</a> project.
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-truck"></i>
                                            </td>
                                            <td>
                                                John Doe changed order status from
                                                <span class="label label-primary">Pending</span> to
                                                <span class="label label-success">Completed</span>
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td>
                                                John Doe posted a comment in
                                                <a href="#">Lost in Translation opening scene</a>
                                                discussion.
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-users"></i>
                                            </td>
                                            <td>
                                                John Doe posted a comment in
                                                <a href="#">Avengers Initiative</a> project.
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-heart"></i>
                                            </td>
                                            <td>
                                                John Doe changed order status from
                                                <span class="label label-warning">On Hold</span> to
                                                <span class="label label-danger">Disabled</span>
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td>
                                                John Doe posted a comment in
                                                <a href="#">Lost in Translation opening scene</a>
                                                discussion.
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-truck"></i>
                                            </td>
                                            <td>
                                                John Doe changed order status from
                                                <span class="label label-primary">Pending</span> to
                                                <span class="label label-success">Completed</span>
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-users"></i>
                                            </td>
                                            <td>
                                                John Doe posted a comment in
                                                <a href="#">Avengers Initiative</a> project.
                                            </td>
                                            <td>2014/08/08 12:08</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*//End tab AllUsers*@

                        @*//Start Tab friend*@
                        <div class="tab-pane fade" id="tab-friends">
                            <ul id="UlFriends" class="widget-users row">
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">John Doe </a>
                                        </div>
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> Last online: 5 minutes
                                            ago
                                        </div>
                                        <div class="type">
                                            <span class="label label-danger">Admin</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">Mila Kunis</a>
                                        </div>
                                        <div class="time online">
                                            <i class="fa fa-check-circle"></i> Online
                                        </div>
                                        <div class="type">
                                            <span class="label label-warning">Pending</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">Ryan Gossling</a>
                                        </div>
                                        <div class="time online">
                                            <i class="fa fa-check-circle"></i> Online
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">Robert Downey Jr.</a>
                                        </div>
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> Last online: Thursday
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">Emma Watson</a>
                                        </div>
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> Last online: 1 week ago
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">George Clooney</a>
                                        </div>
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> Last online: 1 month ago
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">Mila Kunis</a>
                                        </div>
                                        <div class="time online">
                                            <i class="fa fa-check-circle"></i> Online
                                        </div>
                                        <div class="type">
                                            <span class="label label-warning">Pending</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-responsive"
                                             alt="" />
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <a href="#">Ryan Gossling</a>
                                        </div>
                                        <div class="time online">
                                            <i class="fa fa-check-circle"></i> Online
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <br />
                            <a href="#" class="btn btn-success pull-right">View all users</a>
                        </div>
                        @*End Tab Friend*@


                        @*//Start Tab chat*@
                        <div class="tab-pane fade" id="tab-chat">
                            <div class="conversation-wrapper">
                                <div class="conversation-content">
                                    <div class="slimScrollDiv"
                                         style=" position: relative; overflow: auto; width: auto; height: 340px; ">
                                        <div class="conversation-inner"
                                             style="overflow: visible; width: auto; height: 340px">
                                            <div class="conversation-item item-left clearfix">
                                                <div class="conversation-user">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                         class="img-responsive"
                                                         alt="" />
                                                </div>
                                                <div class="conversation-body">
                                                    <div class="name">Ryan Gossling</div>
                                                    <div class="time hidden-xs">
                                                        September 21, 2013 18:28
                                                    </div>
                                                    <div class="text">
                                                        I don't think they tried to market it to the
                                                        billionaire, spelunking, base-jumping crowd.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conversation-item item-right clearfix">
                                                <div class="conversation-user">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                         class="img-responsive"
                                                         alt="" />
                                                </div>
                                                <div class="conversation-body">
                                                    <div class="name">Mila Kunis</div>
                                                    <div class="time hidden-xs">
                                                        September 21, 2013 12:45
                                                    </div>
                                                    <div class="text">
                                                        Normally, both your asses would be dead as
                                                        fucking fried chicken, but you happen to pull
                                                        this shit while I'm in a transitional period so
                                                        I don't wanna kill you, I wanna help you.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conversation-item item-right clearfix">
                                                <div class="conversation-user">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                         class="img-responsive"
                                                         alt="" />
                                                </div>
                                                <div class="conversation-body">
                                                    <div class="name">Mila Kunis</div>
                                                    <div class="time hidden-xs">
                                                        September 21, 2013 12:45
                                                    </div>
                                                    <div class="text">
                                                        Normally, both your asses would be dead as
                                                        fucking fried chicken, but you happen to pull
                                                        this shit while I'm in a transitional period so
                                                        I don't wanna kill you, I wanna help you.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conversation-item item-left clearfix">
                                                <div class="conversation-user">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                         class="img-responsive"
                                                         alt="" />
                                                </div>
                                                <div class="conversation-body">
                                                    <div class="name">Ryan Gossling</div>
                                                    <div class="time hidden-xs">
                                                        September 21, 2013 18:28
                                                    </div>
                                                    <div class="text">
                                                        I don't think they tried to market it to the
                                                        billionaire, spelunking, base-jumping crowd.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conversation-item item-right clearfix">
                                                <div class="conversation-user">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                         class="img-responsive"
                                                         alt="" />
                                                </div>
                                                <div class="conversation-body">
                                                    <div class="name">Mila Kunis</div>
                                                    <div class="time hidden-xs">
                                                        September 21, 2013 12:45
                                                    </div>
                                                    <div class="text">
                                                        Normally, both your asses would be dead as
                                                        fucking fried chicken, but you happen to pull
                                                        this shit while I'm in a transitional period so
                                                        I don't wanna kill you, I wanna help you.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slimScrollBar"
                                             style=" width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0); "></div>
                                        <div class="slimScrollRail"
                                             style=" width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51); "></div>
                                    </div>
                                </div>
                                <div class="conversation-new-message">
                                    <form>
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                      rows="2"
                                                      placeholder="Enter your message..."></textarea>
                                        </div>

                                        <div class="clearfix">
                                            <button type="submit"
                                                    class="btn btn-success pull-right">
                                                Send message
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        @*//End Tab Chat*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    <script src="https://unpkg.com/@@aspnet/signalr@@1.0.2/dist/browser/signalr.js" integrity="sha384-gjN8HGdgW45EWYHOqrWrZ8XHLv1zKBralQ9UU94n//6MvoCdsF3NJrBt9FssrFK3" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="~/js/signalRAgent.js"></script>
}
