@page
@using _00_Framework.Application
@using SocialNetwork.Application.Contracts.UserRelationContracts
@model ServiceHosts.Pages.ChatPageModel
@{
    ViewData["Title"] = "Social Network";
}
@section Styles
{

}

<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">

        <!--Start User Info leftSide -->
        <div id="UserInfoLeftSideDiv" class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix overflow-auto">
                <h2 id="currentUser" style="overflow: hidden;" data-currentUserId="@Model.UserInfo.Id">@Model.UserInfo.Name @Model.UserInfo.LastName</h2>
                <div class="profile-status" style="display: none">
                    <i class="fa fa-check-circle"></i> Online
                </div>
                <img src="~/Images/DefaultProfile.png"
                     alt=""
                     class="profile-img img-responsive center-block" />
            </div>
        </div>
        <!--End User Info leftSide -->
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>User info</span></h3>
                    <a href="#" class="btn btn-primary edit-profile">
                        <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                    </a>
                    <a id="btnRefresh" asp-page="/ChatPage" class="btn btn-info pull-right">
                        <i class="fa fa-refresh fa-lg"> </i> Refresh page
                    </a>
                </div>
                <!--Start User Info Center panel for user detail -->
                @*<input type="hidden" id="UserId" value="@Model.UserInfo.Id" />
                <input type="hidden" id="UserName" value="@Model.UserInfo.Email" />*@
                <div id="UserInfoCenterDiv" class="row profile-user-info">
                    <div class="col-sm-8">

                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">Name</div>
                            <div class="profile-user-details-value">@Model.UserInfo.Name</div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">Last Name</div>
                            <div class="profile-user-details-value">@Model.UserInfo.LastName</div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">About Me</div>
                            <div class="profile-user-details-value">
                                @Model.UserInfo.AboutMe
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">Email/User Name</div>
                            <div class="profile-user-details-value">
                                @Model.UserInfo.Email
                            </div>
                        </div>
                    </div>
                </div>
                <!--End User Info Center panel for user detail -->
                <div class="tabs-wrapper profile-tabs">
                    <ul id="divTabToActive" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-activity" data-toggle="tab">User Relation Requests</a>
                        </li>
                        <li><a href="#tab-friends" data-toggle="tab">Friends</a></li>
                        <li><a href="#tab-chat" data-toggle="tab">Chat</a></li>
                    </ul>

                    <div class="tab-content">

                        <!--Start Tab AllUsers -->
                        <div class="tab-pane fade in active" id="tab-activity">
                            <div class="table-responsive">
                                <table id="TableAllUsers" class="table">
                                    <thead>
                                        <tr>
                                            <th>User Id</th>
                                            <th>User Name</th>
                                            <th>Description</th>
                                            <th>Relation status</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (UserWithRequestStatusVieModel userWithRequest in Model.UserWithRequests)
                                        {
                                            if (userWithRequest.RequestStatusNumber == RequestStatus.ErrorWithRelationNumbers ||
                                                userWithRequest.RequestStatusNumber == RequestStatus.UnknownError)
                                            {
                                                <tr>
                                                    <td>
                                                        @userWithRequest.UserId
                                                    </td>
                                                    <td>
                                                        @userWithRequest.Name &nbsp; @userWithRequest.LastName
                                                    </td>
                                                    <td>
                                                        Request was with error please call admin
                                                    </td>
                                                    <td>
                                                        <span class="label label-danger">Error</span>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            if (userWithRequest.RequestStatusNumber == RequestStatus.WithoutRequest)
                                            {
                                                <tr data-userid="@userWithRequest.UserId">
                                                    <td>
                                                        @userWithRequest.UserId
                                                    </td>
                                                    <td>
                                                        @userWithRequest.Name &nbsp; @userWithRequest.LastName
                                                    </td>
                                                    <td>
                                                        You can send relationRequest
                                                    </td>
                                                    <td>
                                                        without <span class="lable lable-info">Request</span>
                                                    </td>
                                                    <td><a class="btn btn-info" data-requestedUserId="@userWithRequest.UserId" href="">Send Request</a></td>
                                                </tr>
                                            }
                                            if (userWithRequest.RequestStatusNumber == RequestStatus.RequestPending)
                                            {
                                                <tr data-userid="@userWithRequest.UserId">
                                                    <td>
                                                        @userWithRequest.UserId
                                                    </td>
                                                    <td>
                                                        @userWithRequest.Name &nbsp; @userWithRequest.LastName
                                                    </td>
                                                    <td>
                                                        You Sent Request
                                                    </td>
                                                    <td>
                                                        Request <span class="lable lable-warning">Pending...</span>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            if (userWithRequest.RequestStatusNumber == RequestStatus.RequestAccepted
                                                || userWithRequest.RequestStatusNumber == RequestStatus.RevertRequestAccepted)
                                            {
                                                <tr>
                                                    <td>
                                                        @userWithRequest.UserId
                                                    </td>
                                                    <td>
                                                        @userWithRequest.Name &nbsp; @userWithRequest.LastName
                                                    </td>
                                                    <td>
                                                        You already friend
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-check-circle"></i> <span class="label label-success"> Friend</span>
                                                    </td>
                                                    <td></td>
                                                </tr>

                                            }
                                            if (userWithRequest.RequestStatusNumber == RequestStatus.RevertRequestPending)
                                            {
                                                <tr data-userid="@userWithRequest.UserId">
                                                    <td>
                                                        @userWithRequest.UserId
                                                    </td>
                                                    <td>
                                                        @userWithRequest.Name &nbsp; @userWithRequest.LastName
                                                    </td>
                                                    <td>
                                                        Requested relation to you
                                                    </td>
                                                    <td>
                                                        <i class="text-warning fa fa-question-circle"></i> <span class="label label-warning">Request Came</span>
                                                    </td>
                                                    <td><a class="btn btn-success" data-acceptRequest="@userWithRequest.UserId" href="">Accept</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <form>
                                    <input id="searchAllUsers" type="text" placeholder="Search users by name..." />
                                </form>
                            </div>
                        </div>
                        <!--Start Tab AllUsers -->
                        <!--Start Tab friend -->
                        <div class="tab-pane fade" id="tab-friends">
                            <ul id="UlFriends" class="widget-users row">
                                @foreach (var userFriend in
                                  Model.UserWithRequests.Where(x => x.RequestStatusNumber == RequestStatus.RequestAccepted
                                                                    || x.RequestStatusNumber == RequestStatus.RevertRequestAccepted))
                                {
                                    <li data-friendUserId="@userFriend.UserId" class="col-md-4">
                                        <div class="img">
                                            <img src="~/Images/DefaultProfile.png"
                                                 class="img-responsive"
                                                 alt="Profile picture"
                                                 title="ProfilePicture" />
                                        </div>
                                        <div class="details">
                                            <div class="name">
                                                <span>@userFriend.Name &nbsp; @userFriend.LastName</span>
                                            </div>
                                            <div class="type">
                                                <a data-sendMessage="@userFriend.UserId" class="btn btn-success"><i class='fa fa-send' style='color: #9400d3'></i> Send Message</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>

                        </div>
                        <!--End Tab friend -->
                        <!--Start Tab Chat -->
                        <div class="tab-pane fade" id="tab-chat">
                            <div class="conversation-wrapper">
                                <div class="conversation-content">
                                    <div class="slimScrollDiv"
                                         style="position: relative; overflow: auto; width: auto; height: 340px;">
                                        <div id="chatHistory" class="conversation-inner"
                                             style="overflow: visible; width: auto; height: 340px">
                                           
                                        </div>
                                        <div class="slimScrollBar"
                                             style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div>
                                        <div class="slimScrollRail"
                                             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>
                                </div>



                                <div class="conversation-new-message">
                                    <form id="chatForm">
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                      rows="2"
                                                      placeholder="Enter your message..."></textarea>
                                        </div>

                                        <div class="clearfix">
                                            <button type="submit"
                                                    class="btn btn-success pull-right">
                                                Send message
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Tab Chat -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/dist/browser/signalr.js"></script>
    <script src="~/lib/deplug/moment.min/min/moment.min.js"></script>
    <script src="~/js/signalRAgent.js"></script>
    <script type="text/javascript">
    $(function () {
         document.addEventListener("DOMContentLoaded", () => {
             currentUserName = "@Model.UserInfo.Email";
             currentUserId = @Model.UserInfo.Id;

             //$('[data-utcdate]').each(function () {
             //    var d = moment($(this).attr('data-utcdate'));
             //    $(this).html(d.fromNow());
             //});
    });
    });
    </script>
}
